/* hide scrollbar and set overflow */
.carousel {
    display: flex;
    position: relative;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    box-sizing: content-box;
    display: flex;
    flex: none;
}